# Denix Engine
#**/Saved
#**/cmake-build-debug-visual-studio
#**/cmake-build-release-visual-studio
**/Build
**/.idea
**/.vs
**/cmake-build-debug-vs
**/cmake-build-debug-vs
**/cmake-build-debug-visual-studio
**/cmake-build-debug-visual-studio
#*.sln
#*.vcxproj
#*.filters
#/DenixEngine/src/Denix/RTTI/CMakeFiles
#/cmake-build-debug
/cmake-build-debug-visual-studio-event-trace
/cmake-build-release
/cmake-build-debug
/Doxygen
/DenixEngine/src/html
/DenixEngine/src/latex
/DenixEngine/src/docbook
/DenixEngine/src/rtf
